.view-item{
    width: 100%;
}

.view-item__wrapper{
    height: 200px;
    width: 100%;
    background-color: #9D9DF7;
    padding: 15px 0 0 30px;
    border-bottom: 1px solid black;
}

.view-item__button-wrapper{
    margin: 10px 0 0 30px;
    text-decoration: none;
}

.item-detailed{
    width: 90%;
    height: 100%;
    background-color: white;
    margin: -150px auto;
    border-radius: 25px;
    display: flex;

}
.view-item__button-back{
    border-radius: 5px;
}

.item-detailed__image{
    width: 250px;
    height: 350px;
    border-radius: 15px;
    margin: 50px 20px 0 40px;
}

.item-detailed__wrapper{
    display: flex;
    flex-direction: column;
    margin: 50px 20px 0 40px;
    font-size: 18px;
}

.item-detailed__title{
    margin: 10px;
}

.view-item__button-title{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}