* {
    font-family: Segoe print;
    color: grey;
    
}

.fa {
    height: 10px;
    width: 10px;
}

.fashion {
    display: flex;
    width: 100%;
}
.menu-item{
    display: flex;
}

.menu-item__label{
    display: block;
}

.menu-item__label-hidden {
    display: none;
    width: 0px;
}
.fashion-menu{
    position: fixed;
    height: 100%;
    font-size: 15px;
    padding-top: 20px;
    background-color: #E9E5E5;
}
.menu-item__image--logo{
    background: url('./images/bag.jpg') no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.menu-item__image--public-catalog{
    background: url('./images/folder1.jpg') no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.menu-item:hover {
    cursor: pointer;
    background-color: rgb(148, 148, 240);
    border-radius: 10px;
}
.menu-item__label:hover{
    color: white;
}

.menu-item__label{
    width: 100%;
}
.main-page{
    margin-left: 150px;
    max-width: 80%;
}

.head-items {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
}
.fashion__basket-wrapper{
    display: flex;
}

.fashion-counter{
    padding: 20px;
}

.fashion__catalog {
    display: flex;
}

.catalog-item{
    margin: 40px;
}

.fashion-advansed-search__button{
    width: 80px;
    margin: 0 150px 0 50px;
}

.fashion-advansed-search__form {
    display: none;
}



.fashion-advansed-search__form--show-form {
    display: block;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    color: black;
    border: 1px solid blue;
}

.form-wrapper{
    display: flex;    
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-firstline-wrapper, .form-secondline-wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog-item__image {
    position: relative;
}
