.fashion-menu{
    position: fixed;
    height: 100%;
    font-size: 18px;
    padding-top: 20px;
    background-color: white;
    border-right: 1px solid black;
}

.menu-item{
    margin: 12px 15px;
    display: flex;
    text-decoration: none;
    color: black;
}


.menu-item__label{
    display: block;
    color: black;
    width: 100%;
    margin-left: 10px;
}

.menu-item__label:hover{
    color: white;
}

.menu-item__label-hidden {
    display: none;
    width: 0px;
}

.menu-item__image{
    width: 40px;
    height: 30px;
}

.menu-item__image--logo{
    background: url('../../images/bag.jpg') no-repeat;  
    width: 40px;
    height: 30px;  
}

.menu-item__image--public-catalog{
    background: url('../../images/folder1.jpg') no-repeat;
    width: 40px;
    height: 30px; 
}

.menu-item__image--private-catalog{
    background: url('../../images/folder2.jpg') no-repeat;
    width: 40px;
    height: 30px; 
}

.menu-item__image--favourites{
    background: url('../../images/folder3.jpg') no-repeat;
    width: 40px;
    height: 30px; 
}

.menu-item__image--about{
    background: url('../../images/folder4.jpg') no-repeat;
    width: 40px;
    height: 30px; 
}

.menu-item:hover {
    cursor: pointer;
    background-color: rgb(148, 148, 240);
    border-radius: 10px;
}

.menu-item__sign{
    display: none;
}

.menu-item__sign--show{
    display: block;
    width: 2px;
    height: 2px;
    background-color: red;
    z-index: 2;
    position: absolute;
    left: 20px;
}